
/* 페이지 공통 */
#wrapper { width: 960px; margin: 0 auto; }

nav ul { list-style: none; margin: 0; padding: 0 }
nav ul li { display: inline-block; padding: 0 60px; }

a:link { color: black; text-decoration: none; font-weight: bold; }
a:visited { color: black; }
a:hover { color: red; text-decoration: underline; }
a:active { color: orange; }

main { min-height: 500px; }

hr { background: black; height: 2px; }
.copy { text-align: center }

/* 회원가입, 로그인 */
form { width: 320px; margin: 0 auto; vertical-align: middle }
div { padding: 5px }
form label { display: inline-block; width: 110px;
        text-align: right; font-weight: bold }
form input { padding: 5px }
button { padding: 5px 7px }

/* 새글쓰기, 본문보기 */
#writefrm { width: 560px; }
.drgup { vertical-align: top }

/* 회원정보 */
.myinfo, .myinfo td { /*border: 1px solid black;*/ }
.myinfo { border-collapse: collapse; width: 300px;
        margin: 0 auto; }
.myinfo td { padding: 7px }
.myinfo td:first-child { font-weight: bold;
        text-align: right }

/* 게시판 목록 */
.board { width: 700px; margin: 0 auto;
        table-layout: fixed; border-collapse: collapse }

.board td { text-align: center; padding: 7px }
.board td:nth-child(2) { white-space: nowrap;
        overflow: hidden; text-overflow: ellipsis }
.board th { padding:7px;
        background: lightgoldenrodyellow }
.board tr:nth-child(odd) { background: #e4f7ba }
.board tr:nth-child(even) { background: #cef279 }
.alignrgt { text-align-last: right }
.alignlft { text-align-last: left }

.pagenation { list-style: none; padding: 0;
        margin: 0 auto; text-align:center; width: 100% }
.pagenation li { display: inline-block; padding: 10px; }
.cpage { font: bold 48px '맑은 고딕'; color: red }
.prev { color: #cccccc }

select { padding: 3.3px }
input[type="text"] { padding: 5px }

.active {
    background-color: #0099FF; color: white !important;
    padding: 15px 30px
        }

.logo { padding: 50px 110px ; width: 75% }

/* 게시판 본문보기 */
#view { width: 700px; margin: 0 auto; }
#view label { display: inline-block; width: 110px;
    text-align: right; font-weight: bold;
    margin-right: 10px }
#view #contents { border: 1px solid #eeeeee;
    display: inline-block;
    width: 560px; min-height: 350px;
    white-space: pre }

